<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Jib Jab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<div class="header">
		<small>Bob's</small>
		<h1>Alpha Blog</h1>
	</div>
	
	<%= render 'layouts/navigation' %>
	<%= render 'layouts/messages' %>
	
	<div class="main-content">
	<%= yield %>
	</div>
	
	<%= render 'layouts/footer' %>
	


</div>

</body>
</html>
